/* note-detail.page.scss */

.large-textarea {
    min-height: 200px; /* Ajusta el alto según tus necesidades */
  }


  /* note-detail.page.scss */
.custom-input {
    --padding-start: 0;
    --padding-end: 0;
  }
  
  .custom-textarea {
    min-height: 200px; /* Ajusta el alto según tus necesidades */
  }
  
  .custom-checkbox {
    --padding: 0;
    --margin-end: 0;
  }
  
  ion-item {
    --inner-padding-end: 0;
    --inner-padding-start: 0;
  }
  
  ion-label {
    font-size: 16px;
  }
  
  ion-icon {
    font-size: 24px;
    color: var(--ion-color-primary);
  }
  